.toDo, .haveDone{
    width: 80%;
    display: flex;
    margin: 10px auto;
    padding: 40px 50px;
    flex-direction: column;
    border: 1px solid #aeacac;
    box-shadow: 10px 5px 5px #aeacac;
}

.toDo-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort-svg{
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort-svg span:hover {
    cursor: pointer;
    border: 1px solid #aeacac;
}

.dateUp:after{
    content: url('../../../assets/dateUp.svg')
}

.dateDown:after{
    content: url('../../../assets/dateDown.svg')
}

.priUp:after{
    content: url('../../../assets/priUp.svg')
}

.priDown:after{
    content: url('../../../assets/priDown.svg')
}
