.NotDo {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.NotDo-thing {
    width: 45%;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}

.todo-svg-set {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-date-pri {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.del:after {
    content: url('../../../../assets/delete.svg')
}

.change-del:after {
    cursor: pointer;
    content: url('../../../../assets/hoverDelete.svg')
}


.done:after {
    content: url('../../../../assets/done.svg')
}

.change-done:after {
    content: url('../../../../assets/hoverDone.svg')
}


.change-edit:after {
    cursor: pointer;
    content: url('../../../../assets/hoverEdit.svg')
}

.edit:after {
    content: url('../../../../assets/edit.svg')
}

.star span:after {
    content: url('../../../../assets/star.svg')
}

.star {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
